<h1>add new product</h1>
<%= simple_form_for [:admin, @product] do |f|%>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.submit "submit", data: {disable_with: "submitting..."}%>
<% end %>
