<h1><%= @product.title%></h1>
<div class="container">
  <%= @product.description%>
</div>
<div class="pull-right">
  <% if @product.quantity.present? && @product.quantity > 0%>
    <%= link_to("add to cart", add_to_cart_product_path(@product),method: :post, class: "btn btn-danger")%>
  <% else %>
    sorry product sell out
  <% end %>
</div>
